
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Upload Files</h2>
     @using (Html.BeginForm("Index", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    @Html.TextBox("file","",new { type="file"})
                    <input type="submit" value="Zapisz plik"/>
                    @ViewBag.Message
                </div>
            }
</center>

