<style>
    #tlo {
        background-color: whitesmoke;
    }
</style>
@{
    ViewBag.Title = "Error401";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";

}

<div class="jumbotron jumbotron-fluid" id="tlo">
    <div class="container" style="background-color:whitesmoke">

        <h1 class="display-4" title="Nie posiadasz autoryzacji do wyświetlenia tego zasobu." style="        text-align: center;
        font-family: Marker Felt;
        border: double; background-color:white">Brak dostępu</h1>


    </div>
</div>

