
@{
    ViewBag.Title = "Error401";
    
}

<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(rgb(104 156 207), white)">
    <div class="container" style="  background-image: linear-gradient(rgb(104 156 207), white)">

        <h1 class="display-4" style="text-align:center ;font-family:Broadway">Brak dostępu</h1>


    </div>
</div>
<h2>Nie posiadasz autoryzacji do wyświetlenia tego zasobu.</h2>
<h4>Powrót do strony logowania</h4>
<a href="Index">Powrót</a>

