
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel administracji</h2>
<div class="button-style-class color-class shadow-class">
    <a href="Family" class="gradient-class">
        <span class="text-color-class">Członkowie rodziny</span>
    </a>
    <a href="Patient" class="gradient-class">
        <span class="text-color-class">Pacjenci</span>
    </a>
    <a href="Message" class="gradient-class">
        <span class="text-color-class">Ogłoszenia</span>
    </a>
    <a href="Tag" class="gradient-class">
        <span class="text-color-class">Znaczniki</span>
    </a>
    <a href="Employee/UserManagement" class="gradient-class">
        <span class="text-color-class">Użytkownicy</span>
    </a>
</div>

<h2>Index</h2>

