
@{
    ViewBag.Title = "Przeglad pokojów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<DPSapp.Models.Room>

<style>
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #31708f;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    
</style>
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(rgb(104 156 207), white)">
    <div class="container" style="  background-image: linear-gradient(rgb(104 156 207), white)">

        <h1 class="display-4" style="text-align:center ;font-family:Broadway">Wybierz pokój</h1>


    </div>
</div>


<table style="width:100%">
    <tr>
        <th>Numer Pokoju</th>
        <th>Pacjenci</th>
        <th>Tagi</th>
    </tr>

    @foreach (var room in Model)
    {
        <tr>
            <td>


                <a href=@Url.Action(String.Format("RoomsManager/{0}",@room.RoomNumber),"Employee") class="button">@room.RoomNumber</a>

                @*<a href=@Url.Action("Slider","Rooms") class="btn btn-primary">@room.RoomNumber</a>*@
            </td>
            <td>
                @foreach (var patiens in room.Patients)
                {
                
                <p>@String.Format("\n{0} {1}", patiens.PatientName, patiens.PatientSurname);</p>
                  


                    }

</td>
            <td>
                @foreach (var tag in room.Tags)
                {
                <p>@String.Format("\n{0}", tag.TagName);</p>
                }

            </td>
        </tr>
    }



</table>

