<style>
    #tlo {
        background-color: whitesmoke;
    }
</style>
@{
    ViewBag.Title = "ChooseRoomSite";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}
@model List<DPSapp.Models.Room>

<style>
    .button {
        display:inline-block;
        border-radius: 5px;
        background-color: white;
        border: double;
        color: black;
        text-align: center;
        font-size: 28px;
        padding: 30px;
        width: 160px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 10px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
</style>
<div class="jumbotron jumbotron-fluid" id="tlo">
    <div class="container" style=" background-color:white">

        <h1 class="display-4" style="        text-align: center;
        font-family: Marker Felt;
        border: double;
        color:black;
">Wybierz pokój</h1>


    </div>
</div>
<div class="jumbotron jumbotron-fluid" id="tlo">
    <div class="container" style=" margin:5px">


        @foreach (var room in Model)
        {
            <td>


                <a href=@Url.Action(String.Format("Slider/{0}",@room.RoomNumber),"Rooms") title="Naciśnięcie spowoduje przeniesienie do danego pokoju" class="button">@room.RoomNumber</a>

                @*<a href=@Url.Action("Slider","Rooms") class="btn btn-primary">@room.RoomNumber</a>*@
            </td>


        }
    </div>
</div>

